---
---

@import "{{ site.theme }}";

/* Header container */

header {
  background: #000000 !important;   /* Black background */
  background-image: none !important;
  line-height: 70px;
  // text-align: center;
  padding: 60px 0;
  padding: 45px 0;
}

/* Title: Timecrafted */
header h1 {
  font-family: 'Cinzel', serif !important;
  font-size: 52px !important;
  font-weight: bold;
  color: #d6b456 !important;
  margin: 0;
  letter-spacing: 2px;
}

/* Sidebar container */
.sidebar {
  font-size: 0.9rem;
  
}

/* Remove default bullets */
.category-list,
.post-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

@media (max-width: 900px) {

  .sidebar,
  .wrapper section {
    float: none;
    width: 100%;
    padding: 20px 0;
  }
}